@model DatabaseConnector.Issue


            
<tbody>
    <tr>
        <td>
            @Model.Id
        </td>
        <td>
            @Model.User.NickName
        </td>
        <td>
            @Model.Content.Text
        </td>
        <td>
            @if (Model.Content.Text == "automated")
            {
                if (Model.IssueType == 1)
                {
                    <div>
                        <a asp-controller="Post" asp-action="Index" asp-route-id="@Model.ContentText" method="Get">Post @Model.ContentText</a>
                    </div>
                }
                else if (Model.IssueType == 2)
                {
                    <div>
                        <a asp-controller="Post" asp-action="Comment" asp-route-id="@Model.ContentText" method="Get">Comment @Model.ContentText</a>
                    </div>
                }
            }
            else
            {
                @Model.ContentText;
            }
        </td>
        <td>
            <a asp-controller="Administration" asp-action="Hide" method="Post" asp-route-issueId="@Model.Id" class="issue-button-hide">Hide</a>
        </td>
        <td>
            <a asp-controller="Issue" asp-action="Issue" asp-route-id="@Model.Id" class="issue-button-details">More</a>
        </td>
    </tr>
</tbody>