@model IEnumerable<DatabaseConnector.Post>
@{
    ViewData["Title"] = "Мои посты";
}
@foreach (var item in Model)
{
    <a type="button" class="text-decoration-none container-lg" asp-controller="Post" asp-action="Index" asp-route-id="@item.Id">
        <div class="uk-card uk-card-hover uk-card-default uk-child-width-1-1@s uk-margin" uk-grid>
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <h2 style="background-color:darkcyan; border-radius: 199px; width: 43px; height: 43px; text-align:center;">
                            👨‍💻
                        </h2>
                    </div>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">@item.User.NickName</h3>
                        <p class="uk-text-meta uk-margin-remove-top">@item.CreationDate.ToString()</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card-body ">
                    <div class="uk-card-badge uk-label">@item.Category</div>
                    <div class="uk-overflow-auto">@Html.Raw(item.Content.Text)</div>
                </div>
            </div>
            <div class="uk-card-footer">
                <div class="CardFooter">
                    <div class="Likes">
                        <div>
                            <img src="~/icons/heart.png" width="20" height="20" />
                        </div>
                        <div>
                            <p style="text-align:center">@item.Rating.ToString() likes </p>
                        </div>
                    </div>
                    <div class="Comments">
                        <div>
                            <img src="~/icons/comment.png" width="20" height="20" />
                        </div>
                        <div>
                            <p style="text-align:center">@item.Comments.Where(i=>i.IsVisible).Count() comments </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
}
<div id="loading-indicator"></div>