@model DatabaseConnector.Comment

<h4>Comment @Model.Id</h4>
<article class="uk-comment uk-comment-primary" style="border-bottom:solid 1px">
    <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
            <h2 style="background-color:darkcyan; border-radius: 199px; width: 43px; height: 43px; text-align:center;">
                👨‍💻
            </h2>
        </div>
        <div class="uk-width-expand">
            <h4 class="uk-comment-title uk-margin-remove">
                @Model.User.NickName
            </h4>
            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                <li>@Model.CreationDate</li>
                <li>
                    <form asp-controller="Issue" asp-action="AutoIssue" method="post">
                        <input type="hidden" name="contentText" value="@Model.Id">
                        <input type="hidden" name="issueType" value="2">
                        <button type="submit" class="uk-button uk-button-text">Пожаловаться</button>
                    </form>
                </li>
                <li>
                    @if (@User.IsInRole("Admin"))
                    {
                        <a class="uk-button uk-button-text" asp-controller="Post" asp-action="HideComment" asp-route-id="@Model.Id">Hide</a>
                    }
                </li>
            </ul>
        </div>
    </header>
    <div class="uk-comment-body">
        @Model.Content!.Text!.ToString();
    </div>
</article>

<div>
    <a asp-controller="Administration" asp-action="GetIssues">Back to List</a>
</div>

