@model DatabaseConnector.Post

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="~/imgs/examplephoto.jpeg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <div class="uk-width-auto">
                    @*<img class="uk-border-circle" width="40" height="40" src="~/imgs/exampleprofilephoto.jpeg" alt="Avatar" >*@
                    <h2 style="background-color:darkcyan; border-radius: 199px; width: 43px; height: 43px; text-align:center;">
                        👨‍💻
                    </h2>
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">@Model.User.FirstName</h3>
                    <p class="uk-text-meta uk-margin-remove-top">@Model.CreationDate.ToString()</p>
                </div>
                <p>@Model.Content.Text</p>
            </div>
        </div>
        <div class="uk-card-footer">
            <div class="CardFooter">
                <div class="Likes">
                    <div>
                        <img src="~/icons/heart.png" width="20" height="20" />
                    </div>
                    <div>
                        <p style="text-align:center">@Model.Rating.ToString() likes </p>
                    </div>
                </div>
                <div class="Comments">
                    <div>
                        <img src="~/icons/comment.png" width="20" height="20" />
                    </div>
                    <div>
                        <p style="text-align:center">@Model.Comments.Count().ToString() comments </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVisible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsVisible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.PasswordHash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
